@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/geometos');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    body::-webkit-scrollbar {
      width: 0.5rem;
    }
    
    body::-webkit-scrollbar-track {
      background: #333;
    }
    
    body::-webkit-scrollbar-thumb {
      background: #ff9900;
    }

    //carousel
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
      }

      
      /* Hide the images by default */
      .mySlides {
        display: none;
      }
      .slide-img {
        background-attachment: fixed;
          height: 85vh;
          max-width: 100%;
          background-size: cover;
      }
      .slide-img1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/img1.jpg);
      }
      .slide-img2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/img2.jpg);
      }
      .slide-img3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/img3.jpg);
      }
      @media screen and (max-width: 1000px) {
        .slide-img {
            height: 60vh;
        }
      }
      @media screen and (max-width: 500px) {
        .slide-img {
            height: 30vh;
        }
      }

      .text {
        z-index: 1000;
        color: #fff;
        font-size: 25px;
        padding: 8px 12px;
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
      }
      
    
      
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {filter: greyscale()}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

//hero-animatio

    .hero {
      clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
      width: 100%;
      margin-top: -5px;
      z-index:-20;
      background:rgb(31, 31, 31);
      transition: 2s;
    }
    .hero-ani {
      animation: heroo linear 2.4s forwards;
    }
    @keyframes heroo { 
      from { clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);}
      to { clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);}
    }
    .hero h1 {
      opacity: 0;
      color: #ffc300;
      font-family: "Lato";
      font-size: 35px;
      text-align: center;
      padding-top: 50px;
      text-transform: uppercase;
    }
    .hero-animation-title {
      animation: hero-title-ani 2s forwards;
    }
    @keyframes hero-title-ani {
      from {opacity: 0;transform: translateY(20%)}
      to {opacity: 1; transform: translateY(-20%)}
    }
    .hero .menu-button {
      transition: 1s;
      font-size: 25px;
      background-color:#00938a; color: white; width: 20px; height: 5px; padding: 8px; font-weight: 600; border-radius: 2px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri
    }
    .hero .menu-button:hover {
      padding: 10px;
      background-color: #ff9900;
    }
    .hero-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-around
    }

    .hero-image {
      border: 8px solid white;
      margin-top: 30px;
      margin-left: 10%;
      height: calc(165px + 3vw);
      width: calc(320px + 3vw);    }
    .hero-paragraph {
      opacity: 1;
      line-height: 1.5;
      width: 40%;
      color: #fff;
      font-family: "Lato";
      font-size: 22px;
      text-align: left;
      margin-top: 30px;
      margin-left: 5px;
      margin-right: 30px;
      margin-bottom: 120px;
    }
    .hero-animation-paragraph {
      animation: hero-animation-paragraph  2s forwards
    }
    @keyframes hero-animation-paragraph {
      from {opacity: 0;transform: translateX(20%)}
      to {opacity: 1; transform: translateX(0)}
    }
    @media (max-width:800px) {
      .hero-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .hero-image {
        margin-left: 0px;
      }
      .hero-paragraph {
        text-align: center;
        width: 80%
      }
      .hero h1 {
        opacity: 1;
      }
      .hero-paragraph {
        opacity: 1;
      } 
    }

      //food section

      .food-section {
          position: relative;
          width: 100%;
          height: 60vh;
          display: flex;
          justify-content: space-around;
      }
      @media (max-width:600px){
        .food-section { 
          height: auto;
        display: flex;
        flex-direction: column;
        }
      }
      .course {
          width: 100%;
          height: 100%;
          margin-bottom: 40px;
      }
      .food-image {
        opacity: 0;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 20px;
      height: calc(180px + 8vw);
      width: calc(100px + 8vw);
      border: 0px;
      background-origin: border-box;
      background-clip: content-box, border-box;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 1s;
      &:hover {
        filter: grayscale(100%)
      }
      &:hover > h1 {
        opacity: 1;
      }
    }
    .food-image-animation {
      animation: food-image-animation 3s forwards;
    }
    @keyframes food-image-animation {
      from {opacity:0; transform: rotateX(-75deg);}
      to {opacity: 1}
    }

    .food-image h1 {
      transition: 2.5s;
      opacity: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-transform: uppercase;
      font-family: Helvetica;
      font-size: 40px;
      text-align: center;
    }

    .food-image-1 {
      background-image: url('../images/homeprimo.jpeg');
      border-radius: 0% 10%;
    }
    .food-image-2 {
      background-image: url('../images/homesecondo.jpeg');
      border-radius: 0%;
    }
    .food-image-3 {
      background-image: url('../images/homedessert.jpeg');
      border-radius: 10% 0%;
    }
      .food-section-title {
          text-align: center;
          font-size: 35px;
          letter-spacing: 1px;
          text-transform: capitalize;
          color: #ff9900;
          margin-top: 5px;
          font-family: 'Lato', sans-serif;
      }
      .food-section-desc {
          margin: auto;
        text-align: center;
        font-size: 18px;
        margin-top: 5px;
        font-family: 'Montserrat', sans-serif;
        width: 70%;
        color: #333;
    }

.linea {

display: none;
}
    